<% provide(:title, 'Contact') %>
<section class="subpage-bg">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-md-10">
        <div class="titile-block title-block_subpage">
          <h2>Contact Us</h2>
        </div>
      </div>
    </div>
  </div>
</section>
<!--// SUBPAGE HEADER BG -->
<!--============================= CONTACT =============================-->
<section class="main-block">
  <div class="container-fluid">
    <div class="row justify-content-center mb-5">
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-6">
            <div class="address-box">
              <span class="ti-location-pin"></span>
              <h5>USA Office</h5>
              <p>PHONE: (xxx) xxx - xxxx</p>
              <p>503 Sylvan Ave, Mountain View<br> CA 94041, United States</p>

            </div>
          </div>
          <div class="col-md-6">
            <div class="address-box">
              <span class="ti-location-pin"></span>
              <h5>UK Office</h5>
              <p>PHONE: (xxx) xxx - xxxx</p>
              <p>22 Baker Street, London <br> United Kingdom, W1U 3BW</p>
            </div>
          </div>
        </div>
      </div>
    </div>

      </div>
    </div>
  </div>
</section>
<!--//END CONTACT -->