<% provide(:title, "Signup") %>
<!--============================= TITLE =============================-->
<section class="reserve-block">
  <div class="container">
    <div class="row">
      <div class="col-md-12">

        <p><span>Create a new account.</span></p>
      </div>
    </div>
  </div>
  </div>
</section>
<!--//END TITLE -->
<!--============================= CONTENT =============================-->
div class="modal-body">
<form>
  <div class="form-group">
    <input type="text" class="form-control add-listing_form" id="name" placeholder="Your name">
  </div>
  <div class="form-group">
    <input type="text" class="form-control add-listing_form" id="email" placeholder="Email">
  </div>
  <div class="form-group">
    <input type="text" class="form-control add-listing_form" id="username" placeholder="Username">
  </div>
  <div class="form-group">
    <input type="password" class="form-control add-listing_form" id="password" placeholder="Password">
  </div>
</form>
</div>
<div class="modal-footer justify-content-center">
  <button type="button" class="btn btn-primary">CREATE ACCOUNT</button>
</div>

<!--//END CONTENT -->
