<!--============================= NEWS & ARTICLE =============================-->
<section class="main-block gray">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-md-10">
        <div class="titile-block">
          <h2>News & Articles</h2>
          <p>Browse the latest news and articles from our blog.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-lg-3 article-first">
        <div class="news-block">
          <img src="images/article-img1.jpg" alt="#" class="img-fluid">
          <div class="news-title">
            <p>Oct 20, 2017 • Restaurants</p>
            <h5>How to choose top-notch restaurants</h5>
            <p>By Sarah Cooper</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 article-first">
        <div class="news-block">
          <img src="images/article-img2.jpg" alt="#" class="img-fluid">
          <div class="news-title">
            <p>Oct 20, 2017 • Travelling</p>
            <h5>Traveling alone? Remember this 5 useful tips</h5>
            <p>By Mary Loue</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 article-first">
        <div class="news-block">
          <img src="images/article-img3.jpg" alt="#" class="img-fluid">
          <div class="news-title">
            <p>Oct 20, 2017 • Culture</p>
            <h5>What culture says about your country?</h5>
            <p>By Samuel Phils</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 article-first">
        <div class="news-block">
          <img src="images/article-img4.jpg" alt="#" class="img-fluid">
          <div class="news-title">
            <p>Oct 20, 2017 • Events</p>
            <h5>World’s biggest hard-rock band visting Boston</h5>
            <p>By Sarah Cooper</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-12">
        <div class="btn-wrap">
          <a href="blog.html" class="btn btn-simple">Visit our Blog →</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!--//END NEWS & ARTICLE -->
