<!--============================= DETAILED ITEM  =============================-->
<section class="main-block gray">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <div class="grid">
          <figure class="effect-chico">
            <img src="images/gal1.jpg" alt="#" class="img-fluid">
            <figcaption>
              <div class="effect-caption-wrap">
                <h2>New York</h2>
                <p>1500+ Listings</p>
              </div>
            </figcaption>
          </figure>
        </div>
      </div>

      <div class="col-md-6">
        <div class="row detailed-item-mr">
          <div class="col-md-12">
            <div class="grid">
              <figure class="effect-chico">
                <img src="images/gal2.jpg" alt="#" class="img-fluid">
                <figcaption>
                  <div class="effect-caption-wrap">
                    <h2>San Diego</h2>
                    <p>300+ Listings</p>
                  </div>
                </figcaption>
              </figure>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="grid">
              <figure class="effect-chico">
                <img src="images/gal3.jpg" alt="#" class="img-fluid">
                <div class="effect-caption-wrap">
                  <h2>Chicago</h2>
                  <p>800+ Listings</p>
                </div>
              </figure>
            </div>
          </div>
          <div class="col-md-6">
            <div class="grid">
              <figure class="effect-chico">
                <img src="images/gal4.jpg" alt="#" class="img-fluid">
                <div class="effect-caption-wrap">
                  <h2>Boston</h2>
                  <p>210+ Listings</p>
                </div>
              </figure>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--//END DETAILED ITEM -->