<!--============================= DETAILED ITEM  =============================-->
<hr>
<div class="container">
  <div class="row">
    <div class="col-md-12 responsive-wrap">
      <h5>Rails ActionRecord with PostgreSQL</h5>

      <div id="home-section">This site was built using Rails 6, has a PostgreSQL backend. My development environments use both Mac OS and Windows PC with Rubymine as my IDE.
      </div>
      <br/><br/>

      <h5>About Flatiron School for Software Engineering</h5>
      <div id="home-section">
        <div>To learn more about the program, please visit the the
          <a href="https://flatironschool.com/career-courses/coding-bootcamp" target="_blank">Flatiron School</a> site.
        </div>
      </div>

    </div>
  </div>
</div>
<!--//END DETAILED ITEM -->