<!--============================= FOOTER =============================-->
<footer class="main-block gray">
  <div class="container-fluid">
    <div class="row">

      <div class="col-md-12">
        <div class="copyright">
          <p>Copyright © 2021 Twenty9Signals. All rights reserved</p>
          <a href="#">Privacy</a>
          <a href="#">Terms</a>
        </div>
      </div>
  </div>
  </div>
</footer>
<!--//END FOOTER -->

<!-- jQuery, Bootstrap JS. -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="js/jquery-3.2.1.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>