<!--============================= FOOTER =============================-->
<footer class="main-block gray">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="copyright">
          <p>Copyright © 2021 Twenty9Signals. All rights reserved</p>
          <a href="#">Privacy</a>
          <a href="#">Terms</a>
        </div>
      </div>
    </div>
  </div>
</footer>
<!--//END FOOTER -->
<!-- jQuery, Bootstrap JS. -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="js/jquery-3.2.1.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/script.js"></script>
<!-- Map JS (Please change the API key below. Read documentation for more info) -->
<script src="https://maps.googleapis.com/maps/api/js?callback=myMap&key=AIzaSyDMTUkJAmi1ahsx9uCGSgmcSmqDTBF9ygg"></script>
<!-- Validate JS -->
<script src="js/validate.js"></script>
<!-- Contact JS -->
<script src="js/contact.js"></script>